<template>
  <div class="container">
    <div class="item-box">
      <div id="testDraggable" class="drag-item">
        <img src="https://curassy.com/file/parts/I2663c15/e79d9daa5097c5485c880f092a59052d.jpg" width="100%" height="100%" />
      </div>
    </div>
    <div class="test-drag" id="bounds"></div>
    <div>
      <button @click="test1">first step</button>
      <button @click="test2">second step</button>
      <button @click="reset">reset</button>
    </div>
  </div>
</template>

<script>
import gsap from 'gsap'
import Draggable from 'gsap/Draggable'
export default {
  name: 'draggable',
  mounted() {
    gsap.registerPlugin(Draggable)
    Draggable.create('#testDraggable', {
      type: 'x,y'
      //   bounds: '#bounds'
    })
  },
  methods: {
    test1() {
      gsap.fromTo(
        '#testDraggable',
        {
          x: 0,
          y: 0,
          zIndex: 3,
          ease: 'power4.in',
          duration: 0.5
        },
        {
          x: 300,
          y: 300,
          ease: 'power1.out',
          duration: 0.5
        }
      )
    },
    test2() {
      gsap.to('#testDraggable', {
        x: 600,
        y: 0,
        ease: 'power1.in',
        duration: 0.5
      })
    },
    reset() {
      document.querySelector('#testDraggable').style.transform = 'unset'
      document.querySelector('#testDraggable').style.zIndex = 'auto'
    }
  }
}
</script>

<style scoped lang="less">
.container {
  position: relative;
}
.item-box {
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  width: 100%;
  height: 100px;
}
.test-drag {
  position: absolute;
  top: 170px;
  left: 0;
  width: 100vw;
  height: 500px;
  background-color: orange;
  z-index: 2;
}
.drag-item {
  width: 100px;
  height: 100px;
  background-color: palegreen;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
  position: absolute;
}
</style>
