<template>
  <div class="home">
    <div id="testLottie"></div>
    <div>{{ twTest }}</div>
    <button @click="testTweenjs">testTweenjs</button>
    <HelloWorld msg="Welcome to Your Vue.js App" />
    <button @click="goTo('m3u8')">m3u8</button>
    <button @click="goTo('draggable')">draggable</button>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import lottie from 'lottie-web'
import TWEEN from '@tweenjs/tween.js'
const lottieData = require('../staticDir/data.json')
export default {
  name: 'home',
  components: {
    HelloWorld
  },
  data () {
    return {
      twTest: 1
    }
  },
  mounted () {
    lottie.loadAnimation({
      container: document.getElementById('testLottie'), // the dom element that will contain the animation
      renderer: 'svg',
      loop: true,
      autoplay: true,
      animationData: lottieData
    })
  },
  methods: {
    goTo (name) {
      this.$router.push({ name })
    },
    testTweenjs () {
      function animate (time) {
        requestAnimationFrame(animate)
        TWEEN.update(time)
      }
      requestAnimationFrame(animate)
      let temp = { a: 1 }
      new TWEEN.Tween(temp)
        .to({ a: 2000 }, 2000)
        .easing(TWEEN.Easing.Sinusoidal.InOut)
        .onUpdate(() => {
          this.twTest = parseInt(temp.a)
        })
        .start()
    }
  }
}
</script>
<style scoped>
#testLottie {
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 0 auto;
}
</style>
