<template>
  <div>
    <div>视频</div>
    <video src="https://cloudclass-test.oss-cn-beijing.aliyuncs.com/video-output/b_10s.m3u8" controls id="jf_video"></video>
  </div>
</template>

<script>
import Hls from 'hls.js'
export default {
  data() {
    return {
      hls: null
    }
  },
  mounted() {
    const video = document.getElementById('jf_video')
    if (Hls.isSupported()) {
      this.hls = new Hls()
      this.hls.loadSource('https://cloudclass-test.oss-cn-beijing.aliyuncs.com/video-output/b_10s.m3u8')
      this.hls.attachMedia(video)
      this.hls.on(Hls.Events.MANIFEST_PARSED, function() {
        console.log('可以播放了')
      })
    }
    // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
    // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element through the `src` property.
    // This is using the built-in support of the plain video element, without using hls.js.
    // Note: it would be more normal to wait on the 'canplay' event below however on Safari (where you are most likely to find built-in HLS support) the video.src URL must be on the user-driven
    // white-list before a 'canplay' event will be emitted; the last video event that can be reliably listened-for when the URL is not on the white-list is 'loadedmetadata'.
    else if (video.canPlayType('application/vnd.apple.mpegurl')) {
      video.src = 'https://video-dev.github.io/streams/x36xhzz/x36xhzz.m3u8'
      video.addEventListener('loadedmetadata', function() {
        video.play()
      })
    }
  },
  beforeDestroy() {
    this.hls.destory()
  }
}
</script>

<style></style>
