<template>
  <div class="test-box">
    测试组件
  </div>
</template>

<script>
export default {
  name: 'test',
  mounted() {
    console.log('test-mounted')
  }
}
</script>

<style>
.test-box {
  width: 200px;
  height: 100px;
  background-color: aquamarine;
}
</style>
